body {
    background-color: #2c3e50;
}

h1 {
    color: white;
}

#daysoftheweek {
    color: #f1c40f;
}

.list {
    color: white;
}

.daysoftheweek {
    background-color: #f1c40f;
    border: 1px solid;
}

.listred {
    color: #e74c3c;
}